.homepage{
    width: 100%;
    box-sizing: border-box;
    min-height: 90vh;
    padding: 5px 12px;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media(max-width:700px){
    .homepage{
        padding: 5px 0px;
    }
}