*{
    margin: 0px;
    padding: 0px;
}
.navbarpage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    background-color: #dadada;
    /* border: 1px solid gray; */
    position: sticky;
    top: 0px;
    z-index: 434;
    border-bottom: 1px solid gray;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbardiv{
    text-decoration: none;
    color: black;
    padding: 5px 5px;
    background-color: white;
    border: 0px 0px 8px -1px rgba(0, 0, 0, 0.68);
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
}
.navbardiv p{
    margin: 0px;
}

.navbarmin{
    display: none;
}
.navlogo{
    color: navy;    
    text-decoration: none;
    font-weight: 700;
}
.navlogo h2{
    color: navy;
}
.navmenu{
    background-color: navy;
    color: white;
    padding: 3px 18px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
.navmenu p{
    color: white;
    margin: 0px;
}

@media (max-width:1100px) {
    .navbarpage{
        padding: 5px;
    }    
    .navbardiv{
        padding: 1px;
    }
}

@media(max-width:950px){
    .navbar{
        display: none;
    }
    .navbarmin{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .navbarpage{
        background-color: white;
    }
}