.addproductpage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addproduct{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    border: 2px solid grey;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: white;
}
.addproduct form{
    width: 100%;
}
@media (max-width:700px){
    .addproduct{
        width: 96%;
    }
}